*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
}

.container{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: goldenrod; */
    margin-left: 5%;
}

.padd{
    padding: 20px;
}

.header{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 18%;
    height: 200px;
    background-color: salmon;
    margin-top: 18px;
    background-size: cover;
}

/* .overlay_start{
background-image: url("images/playing-cards-background.jpg");
background-size: cover;
animation: showBlock 0s 2s forwards;
visibility: hidden;
}

@keyframes showBlock {
    to { visibility: visible; }
} */

.overlay{
    width: 100%;
    height: 200px;
    /* background-color: gray; */
    background-image: url("images/playing-cards-background.jpg");
    background-size: cover;
}

.opened{
    display: none;
}